:root {
    --myblack: #4f332e;
}


body, .modal-content{
    position: relative; 
}


body::after {
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: -1;
    background-color: #FF9A8B;
    height:100vh!important;
    color:white;
    overflow:hidden;
    background: 
    radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
    radial-gradient(113% 91% at 17% -2%, #008BFFFF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),
   radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),
   radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

.modal-content{
    overflow:hidden;
    background: 
    radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
    radial-gradient(113% 91% at 17% -2%, #008BFFFF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%)!important;
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

  @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 100%;
    }
  }

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('/static/fonts/Satoshi-Variable.woff2') format('woff2'),
         url('/static/fonts/Satoshi-Variable.woff') format('woff'),
         url('/static/fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }


    html, body {
        font-family: 'Satoshi-Variable' ;
    }
    
    h1, h2, button[type=submit], h3, h4{
        font-weight: 900;
    }
    
    a {
        text-decoration: underline;
    }
 

    a, a:hover, h1, li a, p, .nav-link{
        color: var(--myblack);
    }

#headertitle span, #headertitle{
    font-size: 6vw!important;
}
    /*
    **** HOME
    */
    
    .pre-card{
        background-color: rgba(255, 255, 255, 0.537);
    }
    .form-container{
        /* background-color: rgba(255, 255, 255 ); */
        transition: all 0.5s ease!important;
    }
    .my-card{
        /* // background-color: rgba(255, 255, 255 ); */
        min-width: 300px;
        max-width: 300px;
        color:var(--myblack);
    }
    .title{
        font-size: 4rem;
    }
    input{
        border-bottom: solid 1px!important;
        border-radius: 0!important;
    }
    
    .form-control:focus {
        box-shadow: unset!important;
    }
    
    button[type=submit]{
        width:100%;
    }
    h1{
        position: relative;
    }
    h1 > span {
        position: absolute;
        transform: rotate(-10deg);
    }
    
    input, button {
        border-color: var(--myblack)!important;
        color:var(--myblack)!important;
    }


@keyframes slideaway {
    from { display: block; }
    to { transform: translateY(1240px); opacity: 0;}
  }
  
  .hiding {
    animation: slideaway 1200ms;
    display: none;
  }


  .hiding {
    transition: opacity  1200ms, display 200ms;
    display: none;
    opacity: 0;
  }

  .username{
    color:var(--myblack)!important;
    margin-bottom: 0;
  }

  .mytitle{
    font-size: 1.5rem;
  }

  h6{
    font-size: 0.75rem;
    color:var(--myblack)!important;
  }

  .modal{
    color:var(--myblack)!important;
  }

  footer {
    /* position: fixed; */
    height: 100px;
    bottom: 0;
    width: 100%;
}

.accordion-header p {
    font-size: 0.75rem;
    color:var(--myblack)!important;
    text-transform: uppercase;

}

.accordion-header  a p {
    display: inline-block; /* Display the link as an inline element */
    font-size: 0.75rem;
    background-color: var(--myblack)!important;
    color: white!important;
    padding: 3px;
 
}




@keyframes breathingAnimation {
    0% { 
        width:250px;
        height:250px;
   
    }
    50% { 
        width:90px;
        height:90px;
    }
    100% { 
        width:250px;
        height:250px;
    }
  }

  @keyframes breathingAnimation2 {
    0% { 
        width: 100px;
        height: 100px;
        left:50%;

    }
    50% { 
        width: 90px;
        height: 90px;
      
    }
    100% { 
        width: 100px;
        height: 100px;
    
    }
  }

  .animate-circle-center::after {
    /* Your existing styles for the circle-center animation */
    /* ... */
    animation: breathingAnimation 5s infinite ease-in-out;
}



@keyframes breathingAnimation3 {
    0% { 
        width: 0px;
        height: 0px;
 

    }
 
    100% { 
        width: 250px;
        height: 250px;
    
    }
  }

  @keyframes breathingAnimation4 {
    0% { 
        width: 250px;
        height: 250px;
 

    }
 
    100% { 
        width: 0px;
        height: 0px;
    
    }
  }


  .box{
    position:relative;
    width:270px; 
    height:270px;
      }
  
  #circle {
    position: absolute;
    content: "";
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    bottom: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.524);
    border-radius: 50%;
    margin-bottom: 20px;
 
  }


  #circle2 {
    position: absolute;
    content: "";
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    bottom: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 20px;
 
  }

  button {
    margin-right: 10px;
  }
  
  
  #timer {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #cycle-counter {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  #circletext{
    position: absolute;
    content: "";
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    bottom: 50%;
    line-height: 0rem;
    color: var(--myblack);
  }

  section{
    overflow-y: auto;
  }

  #exerciseModal222, #start, #stop{
    color: white!important;
    border-color: white!important;
  }

  .modal-content{
    border: unset;
  }

  .accordion-button:not(.collapsed) {
    color: var(--myblack);
    background-color: unset;
    box-shadow: unset;
  }