{% extends "base.html" %}

{% block content %}
 
  <h2>Welcome to admin page, {{ username }}</h2>

<div class="col-12 justify-content-center  mb-4 mt-4 p-0">      
    <select id="categorySelect" class="form-select form-select-l rounded-0" aria-label=".form-select-sm example">
        <option value="all" selected>All Contributers</option>
        {% for user in users %}
        <option value="{{ user.username}}">{{ user.username }}</option>
        {% endfor %}
    </select>
</div>



<div class="accordion row d-flex align-items-center justify-content-center p-0 m-0" id="usersAccordion">

    {% for user in users %}
  
      {% if loop.index is even %}
      <div class="col-12 col-md-6 m-0 p-0 ps-2" data-category="{{user.username}}">
          {% else %}
      <div class="col-12 col-md-6 m-0 p-0 pe-2" data-category="{{user.username}}">
          {% endif %}

      <div class="accordion-item rounded-0 mb-3">
        <h2 class="accordion-header" id="user{{ loop.index }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
            Username: {{ user.username }}
          </button>
        </h2>    
        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="user{{ loop.index }}" data-bs-parent="#usersAccordion">
          <div class="accordion-body">
            <p>Email: {{ user.email }} 
              <br> Admin Privileges: {% if user.is_admin %}Yes{% else %}No{% endif %}
              <br>
              {% for exercise_count in exercises_count %}
                {% if exercise_count.username == user.username %}
                  Number of exercises: {{ exercise_count.count }} 
                {% endif %}
              {% endfor %}
            </p>
          

            <form method="post" class="mb-5" action="{{ url_for('admin', username=username) }}">
              <input type="hidden" name="user_id" class="form-select form-select-l mb-3 rounded-0" value="{{ user._id }}">
              <select name="action" class="form-select form-select-l mb-3 rounded-0">
                <option value="delete">Delete User and Exercises</option>
                <option value="grant_admin">Grant Admin Privileges</option>
                <option value="revoke_admin">Revoke Admin Privileges</option>
              </select>
              <button type="submit" class="mt-4 btn btn-outline-primary dark-border button-hover  colorDark rounded-0 me-3 thick-text">Perform Action</button>
            </form>
          </div>
        </div>
      </div>

    </div>  
    {% endfor %}

</div>

<script src="{{ url_for('static', filename='js/select-menu.js') }}"></script>


{% endblock %}
