{% extends "base.html" %}

{% block content %}
  <h1>Admin Page</h1>
  <h2>Welcome, {{ username }}</h2>

<div class="col-12 justify-content-center  mb-4  p-0">      
    <select id="categorySelect" class="form-select form-select-l rounded-0" aria-label=".form-select-sm example">
        <option value="all" selected>All Categories</option>
        {% for user in users %}
        <option value="{{ user.username}}">{{ user.username }}</option>
        {% endfor %}
    </select>
</div>



<div class="accordion row d-flex align-items-center justify-content-center p-0 m-0" id="usersAccordion">

    {% for user in users %}
  
      {% if loop.index is even %}
      <div class="col-12 col-md-6 m-0 p-0 ps-2" data-category="{{user.username}}">
          {% else %}
      <div class="col-12 col-md-6 m-0 p-0 pe-2" data-category="{{user.username}}">
          {% endif %}

      <div class="accordion-item rounded-0 mb-3">
        <h2 class="accordion-header" id="user{{ loop.index }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
            Username: {{ user.username }}
          </button>
        </h2>    
        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="user{{ loop.index }}" data-bs-parent="#usersAccordion">
          <div class="accordion-body">
            <p>Email: {{ user.email }}</p>
            <p>Admin Privileges: {% if user.is_admin %}Yes{% else %}No{% endif %}</p>
            {% for exercise_count in exercises_count %}
              {% if exercise_count.username == user.username %}
                <p>Number of exercises: {{ exercise_count.count }}</p>
              {% endif %}
            {% endfor %}
            <form method="post" class="mb-3" action="{{ url_for('admin', username=username) }}">
              <input type="hidden" name="user_id" class="mb-3" value="{{ user._id }}">
              <select name="action">
                <option value="delete">Delete User and Exercises</option>
                <option value="grant_admin">Grant Admin Privileges</option>
                <option value="revoke_admin">Revoke Admin Privileges</option>
              </select>
              <button type="submit" class="mt-0">Perform Action</button>
            </form>
          </div>
        </div>
      </div>

    </div>  
    {% endfor %}

</div>
 

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var categorySelect = document.getElementById('categorySelect');
        var exerciseItems = document.querySelectorAll('.accordion .col-12');

        categorySelect.addEventListener('change', function() {
            var selectedCategory = categorySelect.value;

            exerciseItems.forEach(function(item) {
                if (selectedCategory === 'all' || item.getAttribute('data-category') === selectedCategory) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    });
    </script>

{% endblock %}
