<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reBrthe</title>
    <link rel="apple-touch-icon" sizes="180x180"   href="{{ url_for('static', filename='img/favicon_io/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"   href="{{ url_for('static', filename='img/favicon_io/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"   href="{{ url_for('static', filename='img/favicon_io/favicon-16x16.png')}}">
    <link rel="manifest" href="/site.webmanifest">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% block styles %}
    {% endblock %}
    <title>reBrthe</title>
</head>
<body class="container-md  ">
    <header class="row">
 
        <nav class="navbar navbar-expand-lg bg-light mb-5 mt-1">
            <div class="container-fluid">
              <a class="navbar-brand mb-0 pb-0 me-1" href="{{ url_for('get_home') }}"> <h1 class="mytitle title ">re<span>B  </span> &nbsp;  rthe</h1></a>
              {% if session.user %}
              <p class="username">,{{- username -}}!</p>
              {% endif %}
              <button class="navbar-toggler rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse   justify-content-end" id="navbarNav">
                <ul class="navbar-nav  ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('get_home') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('get_exercises') }}">Exercises</a>
                  </li>
                  {% if session.user %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Signup</a>
                  </li>


                  {% endif %}

                  {% if admin %}
                  <li class="nav-item">
                    <a class="nav-link" href=" ">Admin</a>
                  </li>
                  {% endif %}
 

           
                </ul>
              </div>
            </div>
        </nav>
    </header>
    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="toast-container position-fixed top-0 start-0 p-3">
              {% for message in messages %}
                  <div class="toast  " role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                      <div class="toast-header">
                          <strong class="me-auto">Flash Message</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                      <div class="toast-body">
                          {{ message }}
                      </div>
                  </div>
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}
  </section>
  <section class="row">
    {% block content %}
    {% endblock %}
  </section>

  <!-- <div class="container "> -->
    <footer class="row py-3 my-4 ms-auto container-md pb-5 ">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('get_home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_exercises') }}">Exercises</a>
        </li>
        {% if session.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Signup</a>
        </li>

        {% endif %}
      </ul>
      <p class="text-center text-muted">© 2023 reBrthe, Inc</p>
    </footer>
  <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
     

    {% block scripts %}
    <script>
      var toastElList = [].slice.call(document.querySelectorAll('.toast'));
      var toastList = toastElList.map(function (toastEl) {
          return new bootstrap.Toast(toastEl);
      });
      toastList.forEach(function (toast) {
          toast.show();
      });
  </script>
    {% endblock %}
</body>
</html>