{% extends "base.html" %}

{% block content %}


    <div class="row justify-content-center mt-5 mb-5">
      <div class="col">
        <form class="form-inline">
          <div class="input-group gap-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-btn">
            <div class="input-group-append">
              <button class="btn btn-outline-primary rounded-0" type="button" id="search-btn">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

<div class="accordion" id="accordionExample">
 
    {% for exercise in exercises %} 

        <div class="accordion-item rounded-0 mb-4">
          <div class="accordion-header" id="headingOne">
            <button class="accordion-button pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#{{exercise._id}}" aria-expanded="true" aria-controls="collapseOne">
                <p>{{exercise.exercise_name}} &nbsp; by: {{exercise.created_by}}</p>
            </button>
            <h6 class="ms-3">IN: {{exercise.in}}sec HOLD: {{exercise.hold}}sec OUT: {{exercise.out}}sec</h6> 
            <h6 class="ms-3">REPEAT CYCLES: {{exercise.cycles}}</h6>  
          </div>
          
          <div id="{{exercise._id}}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p> Description: {{exercise.instructions}}<br></p>
            </div>
          </div>
        </div>

    {% endfor %}

</div>


 {% endblock %}