{% extends "base.html" %}

{% block content %}


    <div class="col-12 justify-content-center mt-3 mb-4 p-0">
      <!-- <div class="col p-0"> -->
        <form class="form-inline" action="{{ url_for('search') }}" method="post" >
          <div class="input-group gap-3">
            <!-- <form > -->
            <input type="text" name="query" id="name" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-btn">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-primary rounded-0 m-0" type="button" id="search-btn">Search</button>

            </div>
            <div class="input-group-append">
                <a href="{{ url_for('get_exercises') }}"> 
                    <button   class="btn btn-outline-primary rounded-0 m-0" type="button" id="search-btn">Reset</button>
                </a>
            </div>
            <!-- </form> -->
          </div>
        </form>
      <!-- </div> -->
    </div>

<div class="col-12 justify-content-center  mb-4  p-0">      
        <select id="categorySelect" class="form-select form-select-l rounded-0" aria-label=".form-select-sm example">
            <option value="all" selected>All Categories</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
</div>


{% if exercises|list|length  > 0 %}


<div class="accordion row d-flex align-items-center justify-content-center p-0 m-0" id="accordionExample">
    {% for exercise in exercises %}

        {% if loop.index is even %}
    <div class="col-12 col-md-6 m-0 p-0 ps-2" data-category="{{ exercise.category_name }}">
        {% else %}
    <div class="col-12 col-md-6 m-0 p-0 pe-2" data-category="{{ exercise.category_name }}">
        {% endif %}

        <div class="accordion-item rounded-0 m-0 mb-4">
            <div class="accordion-header " id="headingOne">
                <div class="accordion-button pb-0 ps-3" data-bs-toggle="collapse" data-bs-target="#{{exercise._id}}"  aria-expanded="false" aria-controls="collapseOne">
                    <p class="mb-2">{{exercise.exercise_name}}</p>
                    <a class="nav-link btn-outline-dark ms-3"  href="{{ url_for('profile', username=exercise.created_by) }}"><p class="mb-2">By: {{exercise.created_by}}</p> </a> 
                </div>

                <p class="ms-3 text-uppercase">IN: {{exercise.in}} HOLD: {{exercise.hold}} OUT: {{exercise.out}} - {{exercise.cycles}} Times</p>  

                <div class="input-group-append m-3">
                    <button type="button"   class="btn btn-outline-primary exercise-button rounded-0" data-bs-toggle="modal" data-bs-target="#exerciseModal222" 
                            data-exercise-id="{{ exercise._id }}" 
                            data-exercise-title="{{ exercise.exercise_name }}" 
                            data-exercise-description="{{ exercise.instructions }}"
                            data-exercise-in="{{ exercise.in }}"
                            data-exercise-hold="{{ exercise.hold }}"
                            data-exercise-out="{{ exercise.out }}"
                            data-exercise-cycles="{{ exercise.cycles }}"
                    > Play 
                    </button>
                </div>
            </div>
                    
            <div id="{{exercise._id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p> Description: {{exercise.instructions}}<br></p>
                </div>
            </div>
        </div>
    </div>
    
    {% endfor %}

    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

</div>

 

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var categorySelect = document.getElementById('categorySelect');
            var exerciseItems = document.querySelectorAll('.accordion .col-12');

            categorySelect.addEventListener('change', function() {
                var selectedCategory = categorySelect.value;

                exerciseItems.forEach(function(item) {
                    if (selectedCategory === 'all' || item.getAttribute('data-category') === selectedCategory) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
        });
        </script>

<!-- Modal PLAY2 -->
<div class="modal fade" id="exerciseModal222" tabindex="-1" aria-labelledby="exerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 80vh; overflow-y: auto;">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title exercise-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h2 class="exercise-title"></h2>
          <p class="exercise-id"></p>
          <p class="exercise-instructions"></p>

          <div class="breathing mb-5">
            <div class="box m-auto">
                <div id="circle2"></div>
                <div id="circle"></div>
                <div id="circletext"> </div>
            </div>
            <div id="timer" class="ms-auto d-flex justify-content-center">TIME:</div>
            <div   id="cycle-counter" class="ms-auto d-flex justify-content-center">Cycle:</div>
            <div class="d-flex justify-content-center mt-5">
                <button id="start" class="btn btn-outline-primary rounded-0 me-3" type="button" >Start</button>
                <button id="stop" class="btn btn-outline-primary rounded-0 me-3" type="button" >Stop</button>
            </div>
        </div>


        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
 {% endblock %}