{% extends "base.html" %}
{% block content %}


{% if session.user %}
<div id="app container mb-5 pb-5"  >
   <div class="row h-100 d-flex align-items-center ">
      <div class="col-md-6 col-12  d-flex align-items-center justify-content-center flex-column">
         <h1 id="headertitle" class="title headertitle">re<span>B  </span> &nbsp;  rthe</h1> 
         <p class="mt-3">The breathing exercise database</p>
      </div>
      <div class="col-md-6 col-12  p-0 d-flex justify-content-center ">
         <div class="breathing d-flex justify-content-center align-items-center ">
            <div class="circle-center d-flex justify-content-center align-items-center ">
               <div class="circle-static d-flex justify-content-center align-items-center">
                  <!-- <div class="circle-moving "></div> -->
               </div>
            </div>

         </div>
       
      </div>
   </div>
</div>
{% endif %}

{% if not session.user %}
<div id="app container mb-5 pb-5"  >
   <div class="row h-100 d-flex align-items-center">
      <div class="col-md-6 col-12  d-flex align-items-center justify-content-center flex-column">
         <h1 id="headertitle" class="title headertitle">re<span>B  </span> &nbsp;  rthe</h1> 
         <p class="mt-3">The breathing exercise database</p>
      </div>
      <div class="col-md-6 col-12  p-0  ">
         <div id="homecard"  class="      rounded-3">
            <div id="formcont" class="form-container p-4">
               <div id="signin-form" class=" my-card  p-4 m-auto rounded-2  ">
                  <h2 class="pb-3">signin</h2>
                  <form  method="POST" action="{{ url_for('login') }}" >
                     <div class="form-floating mb-3">
                        <input type="name" class="form-control" id="username" name="username" placeholder="username">
                        <label for="username">name</label>
                     </div>
                      <div class="form-floating  mb-5">
                         <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
                         <label for="Password">Password</label>
                      </div>
                     <button type="submit" class="btn btn-outline-dark rounded-0 mb-2">Submit</button>
                  </form>
                  <div class="mt-3 mb-5">
                     <p class="text-end mb-0">if your don't have an account</p>
                     <a id="signup-button" href="" class="text-end">
                        <h4>signup</h4>
                     </a>
                  </div>
               </div>
               <div  id="signup-form" class=" my-card  p-4 m-auto rounded-2  hiding  ">
                  <h2 class="pb-3">signup</h2>
                  <form method="POST" action="{{ url_for('register') }}">
                     <div class="form-floating mb-3">
                        <input type="name" class="form-control" id="username" name="username" placeholder="username">
                        <label for="username">name</label>
                     </div>
                     <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                        <label for="email">Email address</label>
                     </div>
                     <div class="form-floating  mb-3">
                        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                     </div>
                     <div class="form-floating  mb-5">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                        <label for="confirmPassword">Confirm Password</label>
                     </div>
                     <button   type="submit" class="btn btn-outline-dark rounded-0 mb-2">Submit</button>
                  </form>
                  <div class="mt-3 mb-5">
                     <p class="text-end  mb-0">if you are already registered</p>
                     <a id="signin-button" href="" class="text-end">
                        <h4>signin</h4>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}

<br><br><br><br><br><br>

<div class="container row mt-5 mb-5">
   <div class="col-12 col-md-6 d-flex align-items-center  ">
       <img src="{{ url_for('static', filename='img/body.svg')}}" alt="">
   </div>
<div class=" col-12  col-md-6  d-flex align-items-center justify-content-center flex-column">
   <h1 class=" ">Discover the Power of Breath</h1>
   <p class=" ">reBrthe is your ultimate destination for exploring a vast collection of breathing exercises designed to improve your well-being. </p>
</div>
</div>

<div class="container row mt-5">
   <div class=" col-12  col-md-6  d-flex align-items-center justify-content-center flex-column">
      <h1 class=" ">The wikipedia of Breathing work</h1>
      <p class=" "> Our comprehensive database offers a diverse range of breathing techniques that can be practiced.</p>
      <p>Each breathing exercise in our database is accompanied by detailed information about its specific benefits. From reducing stress and anxiety to improving focus and sleep quality, reBrthe empowers you to harness the full potential of conscious breathing. Explore our extensive collection to find the exercises that align with your personal goals.</p>
   </div>
   <div class="col-12 col-md-6 d-flex align-items-center  ">
      <img src="{{ url_for('static', filename='img/info.svg')}}" alt="">
  </div>
</div>


<div class="container row mt-5 mb-5">
   <div class="col-12 col-md-6 d-flex align-items-center  ">
       <img src="{{ url_for('static', filename='img/practice.svg')}}" alt="">
   </div>
<div class=" col-12  col-md-6  d-flex align-items-center justify-content-center flex-column">
   <h1 class=" ">Practice</h1>
   <p class=" ">You can practice any of the exercise with our timer and graphic circle. Our system will indicate the timming or in breathe , hold or out breathe. this goes on for a number of pre define cycles.</p>
</div>
</div>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
 {% endblock %}